{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>O projekte</h1>

<p>Stránka vznikla ako súčasť bakalárskej práce.</p>
<p>Všetky dáta pochádzajú z <a href="https://www.openstreetmap.org" target="_blank">OpenStreetMap</a>. Zdrojový kód stránky ako aj transformácie dát sa nachádzajú v tomto <a
        href="https://github.com/tomasbelak24/elektronicka-priloha-bakalarska-praca" target="_blank">GitHub repozitári</a>.</p>
<p><strong>Téma</strong>: Databáza športovísk na Slovensku</p>
<p><strong>Autor</strong>: Tomáš Belák</p>
<p><strong>Vedúci</strong>: Mgr. Martin Dovičák, PhD.</p>
<p><strong>Konzultant</strong>: Ing. Branislav Strečanský</p>
<p><strong>VŠ</strong>: FMFI UK</p>
<p><strong>Odbor</strong>: Dátová veda</p>


{% endblock %}